/**

COLORS:

    MAIN

    Dark: #2C3E50
    Light: #ECF0F1


    JOB STATUS

    Accepted: #2ECC71
    Applied: #F1C40F
    Rejected: #E74C3C

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/** LAYOUT AND FORMATTING **/
html,
body {
  background: #ECF0F1;
}

.main-container {
  display: flex;
}

.left-container {
  width: 25vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container {
  height: 100vh;
  width: 75vw;
  transform: translateX(25vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  background: #2C3E50;
  width: 80%;
  height: 90%;
}

.right-content-container {
  width: 90%;
  height: 90%;
  background: #fff;
  overflow: auto;
  padding: 5% 10%;
}

.card-container {
  overflow: scroll;
  height: 300vh;
  z-index: -1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}