/**

COLORS:

    MAIN

    Dark: #2C3E50
    Light: #ECF0F1


    JOB STATUS

    Accepted: #2ECC71
    Applied: #F1C40F
    Rejected: #E74C3C

*/

/** GLOBALS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.shadow {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.card-shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-shadow:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/** FONTS */
* {
  font-family: 'Ubuntu';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abel';
}


/** LAYOUT AND FORMATTING **/
html,
body {
  background: #ECF0F1;
}

.main-container {
  display: flex;
}

.left-container {
  width: 25vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container {
  height: 100vh;
  width: 75vw;
  transform: translateX(25vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content-container {
  width: 90%;
  height: 90%;
  background: #fff;
  overflow: auto;
  padding: 5% 10%;
  border-radius: 5px;
}

/** MENU */
.menu-container {
  background: #2C3E50;
  width: 80%;
  height: 90%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 95%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/** CONTENT */
.title-bar {
  margin: 2.5%;
  display: flex;
  justify-content: space-between;
}

.card-container {
  overflow: scroll;
  z-index: -1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contact-card {
  margin: 2.5%;
  width: 45%;
  border-radius: 5px;
  padding: 32px;
}

.card {
  margin: 2.5%;
  width: 45%;
  border-radius: 5px;
  padding: 32px;
}